main {
  font-size: 0;
}

.parent {
  width: 800px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  border: 1px solid black;
  display: inline-block;
}

.top {
  height: 200px;
}

.bottom {
  height: 300px;
}

.upper {
  width: 50%;
  height: 200px;
}

.lower {
  width: 33.33%;
  height: 300px;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.gray {
  background-color: gray;
}

.black {
  background-color: black;
}

.orange {
  background-color: orange;
}
